<div id="top_menu">
    <ul id="alt_menu">
        <li><a class="drop administration">Администрирование</a>
            <div class="dropdown-column">
                <div class="col">
                    <ul>
                        <li class=""><a href="/admin/meta">﻿Мета-данные</a></li>
                        <li class=""><a href="/admin/currency">﻿Валюта</a></li>
                    </ul>
                </div>
            </div>
        </li>
        <li><a class="drop settings">Настройки</a>
            <div class="dropdown-column">
                <div class="col">
                    <ul>
                        <li class=""><a href="/admin/config">Настройки</a></li>
                        <li class=""><a href="/admin/translate">Интерфейс</a></li>
                    </ul>
                </div>
            </div>
        </li>

    </ul>
</div>
<ul id="menu">
    <li class="dashboard dashboard-active"><a title="Главная" href="/admin" style="cursor:pointer;">&nbsp;</a>
    </li>
    <li><a href="#" class="drop">Веб сайт</a>
        <div class="dropdown-column">
            <div class="col">
                <ul>
                    <li class="blank">
                        <a href="/admin/pages"
                           style="background-image:url(/assets/images/icons/menu/pages.png);">
                            <span>Информационные страницы</span> <span class="hint">Главное меню, информационные блоки</span>
                        </a>
                    </li>
                    <li class="blank">
                        <a href="/admin/slider"
                           style="background-image:url(/assets/images/icons/menu/slider.png);">
                            <span>﻿Слайдер</span> <span class="hint">Слайдер на главной странице.
</span>
                        </a>
                    </li>
                    <li class="blank">
                        <a href="/admin/feedback"
                           style="background-image:url(/assets/images/icons/menu/feedback.png);">
                            <span>Обратная связь</span> <span class="hint">История сообщений в форму обратной связи
</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </li>
    <li><a href="#" class="drop">Магазин</a>
        <div class="dropdown-column">
            <div class="col">
                <ul>
                    <li class="blank">
                        <a href="/admin/catalog"
                           style="background-image:url(/assets/images/icons/menu/catalog.png);">
                            <span>﻿Каталог</span> <span class="hint">Просмотреть категории, в которые сгруппированы товары в Вашем магазине.
</span>
                        </a>
                    </li>
                    <li class="blank">
                        <a href="/admin/product"
                           style="background-image:url(/assets/images/icons/menu/product.png);">
                            <span>﻿﻿Товары</span> <span class="hint">Просмотреть, добавить и редактировать товары, которые показываются посетителям Вашего магазина.
</span>
                        </a>
                    </li>
                    <li class="blank">
                        <a href="/admin/product_price"
                           style="background-image:url(/assets/images/icons/menu/product_price.png);">
                            <span>Ценообразование</span> <span class="hint">Позволяет выбранной группе товаров произвести математические вычисления над ценой
</span>
                        </a>
                    </li>
                    <li class="blank">
                        <a href="/admin/orders"
                           style="background-image:url(/assets/images/icons/menu/orders.png);">
                            <span>﻿Заказы</span> <span class="hint">Просмотреть, оформить и распечатать счет-фактуру для заказов, сделанных в Вашем магазине.
</span>
                        </a>
                    </li>
                    <li class="blank">
                        <a href="/admin/params"
                           style="background-image:url(/assets/images/icons/menu/params.png);">
                            <span>Фильтры товаров</span> <span class="hint">Фильтры товаров показываются на витрине магазина и позволяют покупателям легко находить нужный товар.
</span>
                        </a>
                    </li>
                    <li class="blank">
                        <a href="/admin/delivery"
                           style="background-image:url(/assets/images/icons/menu/delivery.png);">
                            <span>﻿Способ доставки</span> <span class="hint">Способ доставки
</span>
                        </a>
                    </li>
                    <li class="blank">
                        <a href="/admin/payment"
                           style="background-image:url(/assets/images/icons/menu/payment.png);">
                            <span>﻿Способ оплаты</span> <span class="hint">Способ оплаты
</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </li>
    <li><a href="#" class="drop">Покупатели</a>
        <div class="dropdown-column">
            <div class="col">
                <ul>
                    <li class="blank">
                        <a href="/admin/users"
                           style="background-image:url(/assets/images/icons/menu/users.png);">
                            <span>Покупатели</span> <span class="hint">Редактировать учетные записи пользователей, зарегистрированных в Вашем магазине.
</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </li>
    <li class="search">
        <form action="" method="post" id="global_search" onsubmit="return false;">
            <input type="hidden" value="search.results" name="dispatch">
            <input type="hidden" value="Y" name="compact">
            <div>
                <button id="search_button" type="submit">Go</button>
                <label for="gs_text"><a href="#">
                    <input type="text" autocomplete="off" name="q" id="gs_text" class="cm-tooltip"
                           placeholder="Поиск...">
                </a></label>
            </div>
        </form>
        <div id="results_search"></div>
    </li>
</ul>
